absl-py @ file:///C:/ci/absl-py_1615411229697/work
aiohttp @ file:///C:/ci/aiohttp_1602530153430/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anyio @ file:///D:/bld/anyio_1614388928981/work/dist
appdirs==1.4.4
argh==0.26.2
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217273648/work
arrow==0.13.1
astroid @ file:///C:/ci/astroid_1613501047216/work
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1616843134209/work
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black==19.10b0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1611600262290/work
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1605538112425/work
chardet @ file:///C:/ci/chardet_1605303225733/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.10.1
conda-package-handling @ file:///C:/ci/conda-package-handling_1603003327818/work
constantly==15.1.0
cookiecutter @ file:///tmp/build/80754af9/cookiecutter_1617748928239/work
coverage @ file:///C:/ci/coverage_1614615074147/work
crypto==1.4.1
cryptography @ file:///C:/ci/cryptography_1605526388508/work
cssselect==1.1.0
cycler==0.10.0
Cython @ file:///C:/ci/cython_1618435363327/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1617520196422/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
docutils @ file:///C:/ci/docutils_1617481617511/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
example==0.1.0
firebase==3.0.1
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gcloud==0.18.3
google-api-core==1.26.3
google-auth @ file:///tmp/build/80754af9/google-auth_1616008050444/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1617120569401/work
google-cloud-bigquery==2.13.1
google-cloud-core==1.6.0
google-cloud-storage==1.37.0
google-cloud-vision==2.2.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio @ file:///C:/ci/grpcio_1614884412260/work
gunicorn==20.1.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
httplib2==0.19.1
hyperframe==5.2.0
hyperlink==21.0.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagesize @ file:///home/ktietz/src/ci/imagesize_1611921604382/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1617116938855/work
incremental==21.3.0
inflection==0.5.1
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///D:/bld/ipykernel_1617137223378/work/dist/ipykernel-5.5.3-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1616837024736/work
ipython-genutils==0.2.0
isort @ file:///tmp/build/80754af9/isort_1616355431277/work
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous @ file:///home/ktietz/src/ci/itsdangerous_1611932585308/work
jedi @ file:///C:/ci/jedi_1606914528444/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
jinja2-time @ file:///tmp/build/80754af9/jinja2-time_1617751524098/work
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1615693636836/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125450516/work
jupyter-packaging @ file:///home/conda/feedstock_root/build_artifacts/jupyter-packaging_1613054948399/work
jupyter-server==1.5.1
jupyter-tabnine==1.2.2
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1616195786210/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1617134349851/work
jwcrypto==0.8
Keras @ file:///tmp/build/80754af9/keras_split_1593112142734/work
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
keyring @ file:///C:/ci/keyring_1614616910860/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529307648/work
libcst==0.3.18
lxml==4.6.3
Markdown @ file:///C:/ci/markdown_1614364121613/work
MarkupSafe @ file:///D:/bld/markupsafe_1610127683324/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mccabe==0.6.1
menuinst==1.4.16
mistune @ file:///D:/bld/mistune_1610113104461/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict @ file:///C:/ci/multidict_1600456481656/work
mypy-extensions==0.4.3
Naked==0.1.31
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1610352513187/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///D:/bld/nbconvert_1605402041690/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1617163391303/work
nltk==3.6.2
notebook @ file:///D:/bld/notebook_1616419472987/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603466732592/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
openpyxl==3.0.7
opt-einsum==3.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas @ file:///C:/ci/pandas_1614711443373/work
pandocfilters==1.4.2
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parsel==1.6.0
parso==0.7.0
pathspec==0.7.0
patsy==0.5.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///C:/ci/pillow_1615224342392/work
pluggy @ file:///C:/ci/pluggy_1615976358795/work
pmdarima==1.8.2
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
priority==1.3.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1617387394212/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1616432837031/work
Protego==0.1.16
proto-plus==1.18.1
protobuf==3.15.6
psutil @ file:///C:/ci/psutil_1612298324802/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome==3.10.1
PyDispatcher==2.0.5
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1616182067796/work
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1615243893546/work
PyJWT==1.7.1
pylint @ file:///C:/ci/pylint_1617136058775/work
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1610147004705/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-jwt==3.3.0
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1600462544980/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty @ file:///D:/bld/pywinpty_1602377663724/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1614611907285/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///tmp/build/80754af9/qstylizer_1617713584600/work/dist/qstylizer-0.1.10-py2.py3-none-any.whl
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1615991616277/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1616775094278/work
QtPy==1.9.0
queuelib==1.5.0
regex @ file:///C:/ci/regex_1617569893741/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
Rtree @ file:///C:/ci/rtree_1618421009405/work
ruamel-yaml==0.15.87
scikit-learn @ file:///C:/ci/scikit-learn_1614446896245/work
scipy @ file:///C:/ci/scipy_1616703433439/work
Scrapy==2.5.0
seaborn==0.11.1
Send2Trash==1.5.0
service-identity==18.1.0
shellescape==3.8.1
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
sklearn==0.0
sniffio @ file:///D:/bld/sniffio_1610318539925/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1616268783226/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///home/ktietz/src/ci/sphinxcontrib-htmlhelp_1611920974801/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///home/ktietz/src/ci/sphinxcontrib-serializinghtml_1611920755253/work
spyder @ file:///C:/ci/spyder_1618328064140/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1617396750486/work
sseclient==0.0.27
statsmodels==0.12.2
tensorboard @ file:///home/builder/ktietz/aggregate/tensorflow_recipes/ci_te/tensorboard_1614593728657/work/tmp_pip_dir
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.0
tensorflow-estimator @ file:///tmp/build/80754af9/tensorflow-estimator_1599136169057/work/whl_temp/tensorflow_estimator-2.3.0-py2.py3-none-any.whl
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1617048799047/work
testpath==0.4.4
text-unidecode==1.3
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tinycss @ file:///tmp/build/80754af9/tinycss_1617713798712/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typed-ast @ file:///C:/ci/typed-ast_1610466535590/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
typing-inspect==0.6.0
ujson @ file:///C:/ci/ujson_1611241570789/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
w3lib==1.22.0
watchdog @ file:///C:/ci/watchdog_1612471251191/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
whichcraft @ file:///tmp/build/80754af9/whichcraft_1617751293875/work
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wrapt==1.12.1
xlrd==2.0.1
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///C:/ci/yarl_1606940076464/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1614945704755/work
zope.interface==5.3.0
